In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv(r"D:\@NSBM\@NSBM (Nlearn)\2 nd Year\2 nd sem\Data Science in Python\@python project\US used car price\used car.csv")
df

# Show Top 5 Records

In [3]:
df.head()

,vin,back_legroom,bed,bed_height,bed_length,body_type,cabin,city,city_fuel_economy,combine_fuel_economy,...,transmission,transmission_display,trimId,trim_name,vehicle_damage_category,wheel_system,wheel_system_display,wheelbase,width,year
0,ZACNJABB5KPJ92081,35.1 in,NaN,NaN,NaN,SUV / Crossover,NaN,Bayamon,NaN,NaN,...,A,9-Speed Automatic Overdrive,t83804,Latitude FWD,NaN,FWD,Front-Wheel Drive,101.2 in,79.6 in,2019.0
1,SALCJ2FX1LH858117,38.1 in,NaN,NaN,NaN,SUV / Crossover,NaN,San Juan,NaN,NaN,...,A,9-Speed Automatic Overdrive,t86759,S AWD,NaN,AWD,All-Wheel Drive,107.9 in,85.6 in,2020.0
2,JF1VA2M67G9829723,35.4 in,NaN,NaN,NaN,Sedan,NaN,Guaynabo,17.0,NaN,...,M,6-Speed Manual,t58994,Base,NaN,AWD,All-Wheel Drive,104.3 in,78.9 in,2016.0
3,SALRR2RV0L2433391,37.6 in,NaN,NaN,NaN,SUV / Crossover,NaN,San Juan,NaN,NaN,...,A,8-Speed Automatic Overdrive,t86074,V6 HSE AWD,NaN,AWD,All-Wheel Drive,115 in,87.4 in,2020.0
4,SALCJ2FXXLH862327,38.1 in,NaN,NaN,NaN,SUV / Crossover,NaN,San Juan,NaN,NaN,...,A,9-Speed Automatic Overdrive,t86759,S AWD,NaN,AWD,All-Wheel Drive,107.9 in,85.6 in,2020.0

# Show last 5 Records

In [4]:
df.tail()

,vin,back_legroom,bed,bed_height,bed_length,body_type,cabin,city,city_fuel_economy,combine_fuel_economy,...,transmission,transmission_display,trimId,trim_name,vehicle_damage_category,wheel_system,wheel_system_display,wheelbase,width,year
1009345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1009346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1009347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1009348,2T3W1RFV3LC077025,37.8 in,NaN,NaN,NaN,SUV / Crossover,NaN,Greenville,27.0,NaN,...,A,Automatic,t89232,XLE FWD,NaN,FWD,Front-Wheel Drive,105.9 in,73 in,2020.0
1009349,3C4PDCABXLT226249,36.1 in,NaN,NaN,NaN,SUV / Crossover,NaN,Wilson,19.0,NaN,...,A,4-Speed Automatic,t90943,SE Value FWD,NaN,FWD,Front-Wheel Drive,113.8 in,83.7 in,2020.0

# stucture of the dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009350 entries, 0 to 1009349
Data columns (total 66 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   vin                      200002 non-null  object
 1   back_legroom             190544 non-null  object
 2   bed                      1205 non-null    object
 3   bed_height               20252 non-null   object
 4   bed_length               20252 non-null   object
 5   body_type                199212 non-null  object
 6   cabin                    3372 non-null    object
 7   city                     200002 non-null  object
 8   city_fuel_economy        168275 non-null  float64
 9   combine_fuel_economy     0 non-null       float64
 10  daysonmarket             200002 non-null  float64
 11  dealer_zip               200002 non-null  object
 12  description              194928 non-null  object
 13  engine_cylinders         194166 non-null  object
 14  engine_displacement      189846 non-null  float64
 15  engine_type              194166 non-null  object
 16  exterior_color           197066 non-null  object
 17  fleet                    111477 non-null  object
 18  frame_damaged            111477 non-null  object
 19  franchise_dealer         200002 non-null  object
 20  franchise_make           154769 non-null  object
 21  front_legroom            190544 non-null  object
 22  fuel_tank_volume         190544 non-null  object
 23  fuel_type                195358 non-null  object
 24  has_accidents            111477 non-null  object
 25  height                   190544 non-null  object
 26  highway_fuel_economy     168275 non-null  float64
 27  horsepower               189846 non-null  float64
 28  interior_color           177981 non-null  object
 29  isCab                    111477 non-null  object
 30  is_certified             0 non-null       float64
 31  is_cpo                   17244 non-null   object
 32  is_new                   200002 non-null  object
 33  is_oemcpo                11955 non-null   object
 34  latitude                 200002 non-null  float64
 35  length                   190544 non-null  object
 36  listed_date              200002 non-null  object
 37  listing_color            200002 non-null  object
 38  listing_id               200002 non-null  float64
 39  longitude                200002 non-null  float64
 40  main_picture_url         171790 non-null  object
 41  major_options            187630 non-null  object
 42  make_name                200002 non-null  object
 43  maximum_seating          190544 non-null  object
 44  mileage                  191992 non-null  float64
 45  model_name               200002 non-null  object
 46  owner_count              106479 non-null  float64
 47  power                    171788 non-null  object
 48  price                    200002 non-null  float64
 49  salvage                  111477 non-null  object
 50  savings_amount           200002 non-null  float64
 51  seller_rating            198506 non-null  float64
 52  sp_id                    199940 non-null  float64
 53  sp_name                  200002 non-null  object
 54  theft_title              111477 non-null  object
 55  torque                   169573 non-null  object
 56  transmission             197972 non-null  object
 57  transmission_display     197972 non-null  object
 58  trimId                   193062 non-null  object
 59  trim_name                193024 non-null  object
 60  vehicle_damage_category  0 non-null       float64
 61  wheel_system             191408 non-null  object
 62  wheel_system_display     191408 non-null  object
 63  wheelbase                190544 non-null  object
 64  width                    190544 non-null  object
 65  year                     200002 non-null  float64
dtypes: float64(18), object(48)
memory usage: 508.2+ MB

# Shape of the Dataset

In [6]:
df.shape

(1009350, 66)

# Check Summary of Dataset

In [7]:
df.describe()

,city_fuel_economy,combine_fuel_economy,daysonmarket,engine_displacement,highway_fuel_economy,horsepower,is_certified,latitude,listing_id,longitude,mileage,owner_count,price,savings_amount,seller_rating,sp_id,vehicle_damage_category,year
count,168275.000000,0.0,200002.000000,189846.000000,168275.000000,189846.000000,0.0,200002.000000,2.000020e+05,200002.000000,191992.000000,106479.000000,2.000020e+05,200002.000000,198506.000000,199940.000000,0.0,200002.000000
mean,22.413092,NaN,79.170158,2845.117095,29.162567,244.912787,NaN,41.581094,2.751596e+08,-75.552222,31123.655012,1.453911,3.036053e+04,632.720503,4.184578,232824.182355,NaN,2017.552114
std,8.531449,NaN,114.032745,1214.554186,7.492948,87.053066,NaN,1.678422,9.343339e+06,6.364546,43103.570801,0.823085,2.274848e+04,1241.557180,0.539991,129413.776969,NaN,3.888960
min,7.000000,NaN,0.000000,700.000000,11.000000,70.000000,NaN,18.346700,6.370620e+07,-157.928000,0.000000,1.000000,2.990000e+02,0.000000,1.000000,41593.000000,NaN,1930.000000
25%,18.000000,NaN,14.000000,2000.000000,25.000000,175.000000,NaN,40.880800,2.743620e+08,-74.464400,7.000000,1.000000,1.829500e+04,0.000000,3.842105,65428.000000,NaN,2017.000000
50%,21.000000,NaN,36.000000,2500.000000,28.000000,241.000000,NaN,41.815700,2.784181e+08,-73.628400,14020.000000,1.000000,2.699900e+04,1.000000,4.285714,280659.000000,NaN,2019.000000
75%,25.000000,NaN,83.000000,3500.000000,32.000000,295.000000,NaN,42.501900,2.803455e+08,-71.642400,43776.000000,2.000000,3.818875e+04,899.000000,4.571429,333599.000000,NaN,2020.000000
max,127.000000,NaN,2624.000000,8400.000000,127.000000,903.000000,NaN,61.203100,2.816809e+08,-66.078500,785778.000000,15.000000,3.195000e+06,95484.000000,5.000000,440798.000000,NaN,2021.000000

# Remove Unwanted columns

In [8]:
columns_to_drop = ['combine_fuel_economy', 'bed','is_certified']
df = df.drop(columns=['combine_fuel_economy', 'bed','is_certified'])

# Check Missing Values

In [9]:
 df.isnull().sum()

vin                     809348
back_legroom            818806
bed_height              989098
bed_length              989098
body_type               810138
                         ...
wheel_system            817942
wheel_system_display    817942
wheelbase               818806
width                   818806
year                    809348
Length: 63, dtype: int64

In [10]:
df.notnull()

,vin,back_legroom,bed_height,bed_length,body_type,cabin,city,city_fuel_economy,daysonmarket,dealer_zip,...,transmission,transmission_display,trimId,trim_name,vehicle_damage_category,wheel_system,wheel_system_display,wheelbase,width,year
0,True,True,False,False,True,False,True,False,True,True,...,True,True,True,True,False,True,True,True,True,True
1,True,True,False,False,True,False,True,False,True,True,...,True,True,True,True,False,True,True,True,True,True
2,True,True,False,False,True,False,True,True,True,True,...,True,True,True,True,False,True,True,True,True,True
3,True,True,False,False,True,False,True,False,True,True,...,True,True,True,True,False,True,True,True,True,True
4,True,True,False,False,True,False,True,False,True,True,...,True,True,True,True,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009345,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1009346,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1009347,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1009348,True,True,False,False,True,False,True,True,True,True,...,True,True,True,True,False,True,True,True,True,True
1009349,True,True,False,False,True,False,True,True,True,True,...,True,True,True,True,False,True,True,True,True,True

In [11]:
df.isnull().values.any()

True

In [12]:
df.isnull().sum().sum()

53136295

In [13]:
df.notnull().values.any()

True

#  Check Duplicate

In [14]:
df.duplicated().sum()

809347

# Checking the Number of Unique Values of Each Column

In [15]:
df.nunique()

vin                     200000
back_legroom               196
bed_height                   1
bed_length                  68
body_type                    9
                         ...
wheel_system                 5
wheel_system_display         5
wheelbase                  422
width                      266
year                        72
Length: 63, dtype: int64

# Exploring Data

In [16]:
df.columns

Index(['vin', 'back_legroom', 'bed_height', 'bed_length', 'body_type', 'cabin',
       'city', 'city_fuel_economy', 'daysonmarket', 'dealer_zip',
       'description', 'engine_cylinders', 'engine_displacement', 'engine_type',
       'exterior_color', 'fleet', 'frame_damaged', 'franchise_dealer',
       'franchise_make', 'front_legroom', 'fuel_tank_volume', 'fuel_type',
       'has_accidents', 'height', 'highway_fuel_economy', 'horsepower',
       'interior_color', 'isCab', 'is_cpo', 'is_new', 'is_oemcpo', 'latitude',
       'length', 'listed_date', 'listing_color', 'listing_id', 'longitude',
       'main_picture_url', 'major_options', 'make_name', 'maximum_seating',
       'mileage', 'model_name', 'owner_count', 'power', 'price', 'salvage',
       'savings_amount', 'seller_rating', 'sp_id', 'sp_name', 'theft_title',
       'torque', 'transmission', 'transmission_display', 'trimId', 'trim_name',
       'vehicle_damage_category', 'wheel_system', 'wheel_system_display',
       'wheelbase', 'width', 'year'],
      dtype='object')

# convert categorical data to numerical data

In [17]:
encoded_df = pd.get_dummies(df, columns=['front_legroom','city_fuel_economy','engine_cylinders','engine_displacement','engine_type','exterior_color','frame_damaged','fuel_tank_volume','fuel_type'])
print(encoded_df)

                       vin back_legroom bed_height bed_length  \
0        ZACNJABB5KPJ92081      35.1 in        NaN        NaN
1        SALCJ2FX1LH858117      38.1 in        NaN        NaN
2        JF1VA2M67G9829723      35.4 in        NaN        NaN
3        SALRR2RV0L2433391      37.6 in        NaN        NaN
4        SALCJ2FXXLH862327      38.1 in        NaN        NaN
...                    ...          ...        ...        ...
1009345                NaN          NaN        NaN        NaN
1009346                NaN          NaN        NaN        NaN
1009347                NaN          NaN        NaN        NaN
1009348  2T3W1RFV3LC077025      37.8 in        NaN        NaN
1009349  3C4PDCABXLT226249      36.1 in        NaN        NaN

               body_type cabin        city  daysonmarket dealer_zip  \
0        SUV / Crossover   NaN     Bayamon         522.0        960
1        SUV / Crossover   NaN    San Juan         207.0        922
2                  Sedan   NaN    Guaynabo        1233.0        969
3        SUV / Crossover   NaN    San Juan         196.0        922
4        SUV / Crossover   NaN    San Juan         137.0        922
...                  ...   ...         ...           ...        ...
1009345              NaN   NaN         NaN           NaN        NaN
1009346              NaN   NaN         NaN           NaN        NaN
1009347              NaN   NaN         NaN           NaN        NaN
1009348  SUV / Crossover   NaN  Greenville          20.0    27834.0
1009349  SUV / Crossover   NaN      Wilson         161.0    27896.0

                                               description  ...  \
0        [!@@Additional Info@@!]Engine: 2.4L I4 ZERO EV...  ...
1        [!@@Additional Info@@!]Keyless Entry,Ebony Mor...  ...
2                                                      NaN  ...
3        [!@@Additional Info@@!]Fog Lights,7 Seat Packa...  ...
4        [!@@Additional Info@@!]Keyless Entry,Ebony Mor...  ...
...                                                    ...  ...
1009345                                                NaN  ...
1009346                                                NaN  ...
1009347                                                NaN  ...
1009348  Call the Internet Deptartment for our best pri...  ...
1009349  Lee Chrysler Dodge Jeep Ram in Wilson NC will ...  ...

        fuel_tank_volume_9.2 gal fuel_tank_volume_9.3 gal  \
0                          False                    False
1                          False                    False
2                          False                    False
3                          False                    False
4                          False                    False
...                          ...                      ...
1009345                    False                    False
1009346                    False                    False
1009347                    False                    False
1009348                    False                    False
1009349                    False                    False

        fuel_tank_volume_9.5 gal fuel_type_Biodiesel  \
0                          False               False
1                          False               False
2                          False               False
3                          False               False
4                          False               False
...                          ...                 ...
1009345                    False               False
1009346                    False               False
1009347                    False               False
1009348                    False               False
1009349                    False               False

        fuel_type_Compressed Natural Gas  fuel_type_Diesel  \
0                                  False             False
1                                  False             False
2                                  False             False
3                                  False             False
4                                  False             False
...                                  ...               ...
1009345                            False             False
1009346                            False             False
1009347                            False             False
1009348                            False             False
1009349                            False             False

         fuel_type_Electric fuel_type_Flex Fuel Vehicle fuel_type_Gasoline  \
0                     False                       False               True
1                     False                       False               True
2                     False                       False               True
3                     False                       False               True
4                     False                       False               True
...                     ...                         ...                ...
1009345               False                       False              False
1009346               False                       False              False
1009347               False                       False              False
1009348               False                       False               True
1009349               False                       False               True

        fuel_type_Hybrid
0                  False
1                  False
2                  False
3                  False
4                  False
...                  ...
1009345            False
1009346            False
1009347            False
1009348            False
1009349            False

[1009350 rows x 6600 columns]

In [18]:
encoded_df = pd.get_dummies(df, columns=['has_accidents','highway_fuel_economy','horsepower','interior_color','isCab','is_new'])
print(encoded_df)

                       vin back_legroom bed_height bed_length  \
0        ZACNJABB5KPJ92081      35.1 in        NaN        NaN
1        SALCJ2FX1LH858117      38.1 in        NaN        NaN
2        JF1VA2M67G9829723      35.4 in        NaN        NaN
3        SALRR2RV0L2433391      37.6 in        NaN        NaN
4        SALCJ2FXXLH862327      38.1 in        NaN        NaN
...                    ...          ...        ...        ...
1009345                NaN          NaN        NaN        NaN
1009346                NaN          NaN        NaN        NaN
1009347                NaN          NaN        NaN        NaN
1009348  2T3W1RFV3LC077025      37.8 in        NaN        NaN
1009349  3C4PDCABXLT226249      36.1 in        NaN        NaN

               body_type cabin        city  city_fuel_economy  daysonmarket  \
0        SUV / Crossover   NaN     Bayamon                NaN         522.0
1        SUV / Crossover   NaN    San Juan                NaN         207.0
2                  Sedan   NaN    Guaynabo               17.0        1233.0
3        SUV / Crossover   NaN    San Juan                NaN         196.0
4        SUV / Crossover   NaN    San Juan                NaN         137.0
...                  ...   ...         ...                ...           ...
1009345              NaN   NaN         NaN                NaN           NaN
1009346              NaN   NaN         NaN                NaN           NaN
1009347              NaN   NaN         NaN                NaN           NaN
1009348  SUV / Crossover   NaN  Greenville               27.0          20.0
1009349  SUV / Crossover   NaN      Wilson               19.0         161.0

        dealer_zip  ... interior_color_stone interior_color_storm gray  \
0              960  ...                False                     False
1              922  ...                False                     False
2              969  ...                False                     False
3              922  ...                False                     False
4              922  ...                False                     False
...            ...  ...                  ...                       ...
1009345        NaN  ...                False                     False
1009346        NaN  ...                False                     False
1009347        NaN  ...                False                     False
1009348    27834.0  ...                False                     False
1009349    27896.0  ...                False                     False

         interior_color_taupe interior_color_titanium  \
0                       False                   False
1                       False                   False
2                       False                   False
3                       False                   False
4                       False                   False
...                       ...                     ...
1009345                 False                   False
1009346                 False                   False
1009347                 False                   False
1009348                 False                   False
1009349                 False                   False

        interior_color_titanium gray interior_color_tobacco isCab_False  \
0                              False                  False       False
1                              False                  False       False
2                              False                  False        True
3                              False                  False       False
4                              False                  False       False
...                              ...                    ...         ...
1009345                        False                  False       False
1009346                        False                  False       False
1009347                        False                  False       False
1009348                        False                  False       False
1009349                        False                  False       False

        isCab_True is_new_False is_new_True
0            False        False        True
1            False        False        True
2            False         True       False
3            False        False        True
4            False        False        True
...            ...          ...         ...
1009345      False        False       False
1009346      False        False       False
1009347      False        False       False
1009348      False        False        True
1009349      False        False        True

[1009350 rows x 8094 columns]

In [39]:
encoded_df = pd.get_dummies(df, columns=['length', 'listed_date'])
print(encoded_df)

                       vin back_legroom bed_height bed_length  \
0        ZACNJABB5KPJ92081      35.1 in        NaN        NaN
1        SALCJ2FX1LH858117      38.1 in        NaN        NaN
2        JF1VA2M67G9829723      35.4 in        NaN        NaN
3        SALRR2RV0L2433391      37.6 in        NaN        NaN
4        SALCJ2FXXLH862327      38.1 in        NaN        NaN
...                    ...          ...        ...        ...
1009345                NaN          NaN        NaN        NaN
1009346                NaN          NaN        NaN        NaN
1009347                NaN          NaN        NaN        NaN
1009348  2T3W1RFV3LC077025      37.8 in        NaN        NaN
1009349  3C4PDCABXLT226249      36.1 in        NaN        NaN

               body_type cabin        city  city_fuel_economy  daysonmarket  \
0        SUV / Crossover   NaN     Bayamon                NaN         522.0
1        SUV / Crossover   NaN    San Juan                NaN         207.0
2                  Sedan   NaN    Guaynabo               17.0        1233.0
3        SUV / Crossover   NaN    San Juan                NaN         196.0
4        SUV / Crossover   NaN    San Juan                NaN         137.0
...                  ...   ...         ...                ...           ...
1009345              NaN   NaN         NaN                NaN           NaN
1009346              NaN   NaN         NaN                NaN           NaN
1009347              NaN   NaN         NaN                NaN           NaN
1009348  SUV / Crossover   NaN  Greenville               27.0          20.0
1009349  SUV / Crossover   NaN      Wilson               19.0         161.0

        dealer_zip  ... listed_date_9/7/2018 listed_date_9/7/2019  \
0              960  ...                False                False
1              922  ...                False                False
2              969  ...                False                False
3              922  ...                False                False
4              922  ...                False                False
...            ...  ...                  ...                  ...
1009345        NaN  ...                False                False
1009346        NaN  ...                False                False
1009347        NaN  ...                False                False
1009348    27834.0  ...                False                False
1009349    27896.0  ...                False                False

         listed_date_9/7/2020 listed_date_9/8/2018 listed_date_9/8/2019  \
0                       False                False                False
1                       False                False                False
2                       False                False                False
3                       False                False                False
4                       False                False                False
...                       ...                  ...                  ...
1009345                 False                False                False
1009346                 False                False                False
1009347                 False                False                False
1009348                 False                False                False
1009349                 False                False                False

        listed_date_9/8/2020 listed_date_9/9/2016 listed_date_9/9/2018  \
0                      False                False                False
1                      False                False                False
2                      False                False                False
3                      False                False                False
4                      False                False                False
...                      ...                  ...                  ...
1009345                False                False                False
1009346                False                False                False
1009347                False                False                False
1009348                False                False                False
1009349                False                False                False

        listed_date_9/9/2019 listed_date_9/9/2020
0                      False                False
1                      False                False
2                      False                False
3                      False                False
4                      False                False
...                      ...                  ...
1009345                False                False
1009346                False                False
1009347                False                False
1009348                False                False
1009349                False                False

[1009350 rows x 1819 columns]

In [31]:
encoded_df = pd.get_dummies(df, columns=['model_name','owner_count','power'])
print(encoded_df)

                       vin back_legroom bed_height bed_length  \
0        ZACNJABB5KPJ92081      35.1 in        NaN        NaN
1        SALCJ2FX1LH858117      38.1 in        NaN        NaN
2        JF1VA2M67G9829723      35.4 in        NaN        NaN
3        SALRR2RV0L2433391      37.6 in        NaN        NaN
4        SALCJ2FXXLH862327      38.1 in        NaN        NaN
...                    ...          ...        ...        ...
1009345                NaN          NaN        NaN        NaN
1009346                NaN          NaN        NaN        NaN
1009347                NaN          NaN        NaN        NaN
1009348  2T3W1RFV3LC077025      37.8 in        NaN        NaN
1009349  3C4PDCABXLT226249      36.1 in        NaN        NaN

               body_type cabin        city  city_fuel_economy  daysonmarket  \
0        SUV / Crossover   NaN     Bayamon                NaN         522.0
1        SUV / Crossover   NaN    San Juan                NaN         207.0
2                  Sedan   NaN    Guaynabo               17.0        1233.0
3        SUV / Crossover   NaN    San Juan                NaN         196.0
4        SUV / Crossover   NaN    San Juan                NaN         137.0
...                  ...   ...         ...                ...           ...
1009345              NaN   NaN         NaN                NaN           NaN
1009346              NaN   NaN         NaN                NaN           NaN
1009347              NaN   NaN         NaN                NaN           NaN
1009348  SUV / Crossover   NaN  Greenville               27.0          20.0
1009349  SUV / Crossover   NaN      Wilson               19.0         161.0

        dealer_zip  ... power_88 hp @ 4,000 RPM power_90 hp @ 5,600 RPM  \
0              960  ...                   False                   False
1              922  ...                   False                   False
2              969  ...                   False                   False
3              922  ...                   False                   False
4              922  ...                   False                   False
...            ...  ...                     ...                     ...
1009345        NaN  ...                   False                   False
1009346        NaN  ...                   False                   False
1009347        NaN  ...                   False                   False
1009348    27834.0  ...                   False                   False
1009349    27896.0  ...                   False                   False

         power_903 hp @ 7,300 RPM power_92 hp @ 4,000 RPM  \
0                           False                   False
1                           False                   False
2                           False                   False
3                           False                   False
4                           False                   False
...                           ...                     ...
1009345                     False                   False
1009346                     False                   False
1009347                     False                   False
1009348                     False                   False
1009349                     False                   False

        power_92 hp @ 5,500 RPM power_93 hp @ 5,700 RPM  \
0                         False                   False
1                         False                   False
2                         False                   False
3                         False                   False
4                         False                   False
...                         ...                     ...
1009345                   False                   False
1009346                   False                   False
1009347                   False                   False
1009348                   False                   False
1009349                   False                   False

        power_94 hp @ 5,200 RPM power_98 hp @ 4,800 RPM  \
0                         False                   False
1                         False                   False
2                         False                   False
3                         False                   False
4                         False                   False
...                         ...                     ...
1009345                   False                   False
1009346                   False                   False
1009347                   False                   False
1009348                   False                   False
1009349                   False                   False

        power_99 hp @ 4,800 RPM power_99 hp @ 5,600 RPM
0                         False                   False
1                         False                   False
2                         False                   False
3                         False                   False
4                         False                   False
...                         ...                     ...
1009345                   False                   False
1009346                   False                   False
1009347                   False                   False
1009348                   False                   False
1009349                   False                   False

[1009350 rows x 2559 columns]

In [40]:
data = pd.get_dummies(df)

MemoryError: Unable to allocate 188. GiB for an array with shape (200000, 1009350) and data type bool

In [33]:
df.to_csv("cleaned_data.csv", index=False)

# find outliers

In [ ]:
# find the IQR of engine_displacement(engine_displacement is the measure of the cylinder volume swept by all of the pistons of a piston engine, excluding the combustion chambers.)

In [34]:
q1 = df['engine_displacement'].quantile(0.25)
q3 = df['engine_displacement'].quantile(0.75)

iqr = q3 - q1

print("Interquartile Range (IQR):", iqr)

Interquartile Range (IQR): 1500.0

In [ ]:
# find the IQR Of  (The legroom in inches for the passenger seat)

In [36]:
q1 = df['price'].quantile(0.25)
q3 = df['price'].quantile(0.75)

iqr = q3 - q1

print("Interquartile Range (IQR):", iqr)

Interquartile Range (IQR): 19893.75

In [38]:
q1 = df['year'].quantile(0.25)
q3 = df['year'].quantile(0.75)

iqr = q3 - q1

print("Interquartile Range (IQR):", iqr)

Interquartile Range (IQR): 3.0